* {
    margin: 0;
    padding: 0;
}

:root {

    --white: #FFFFFF;
    --black: #292929;
}

li {
    list-style: none;
}

a:-webkit-any-link {
    list-style: none;
    text-decoration: none;
    color: var(--white);
}

html {
    font-family: Alegreya Sans;
}

body {


    position: relative;
    width: 1170px;
}

.logo {
    position: absolute;
    top: 24px;
    left: 84px;
}

.main__background {

    background: url("../img/bg.jpg");
    position: absolute;
    width: 1100px;
    height: 652px;
}

.header__menu {
    width: 637px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 20% 1fr;
    margin-top: 29px;
    margin-left: 183px;
    gap: 22px;
    color: var(--white);
}

.contact__img {
    position: relative;
    left: 870px;
    top: -24px;
}

.contact__tel {

    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--white);
    position: relative;
    left: 887px;
    top: -45px;

}

.navigation__item {

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    white-space: nowrap;

}

.main__header {
    font-family: Alegreya Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
    width: 450px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-left: 82px;
    color: var(--white);
}

.main__desc {

    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 18px;
    margin-left: 80px;
    color: var(--white);
}

.btn {
    height: 60px;
    width: 156px;
    position: relative;
    border-radius: 100px;
    padding: 21px 41px;
    background-color: #FEDB3F;
}

.btn__text {

    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.main__btn {
    left: 80px;
    top: 61px;
}

.features {
    display: grid;
    width: 202px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 94px;
    margin-top: 144px;
    margin-left: 127px;
    position: relative;
    color: var(--white);
}

.features__item {

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.features__item__img {
    position: absolute;
    margin-left: -52px;
    margin-top: 4px;
}

.header {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
}


.advantages__desc {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    width: 436px;
    margin-top: 18px;
    margin-left: 362px;
}

.advantages-item__header {
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 61px;
}

.advantages-item__desc {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    margin-top: 20px;
    text-align: center;
}

.advantages {
    position: relative;
    top: 755px;
    padding-bottom: 861px;

}

.advantages__list {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 82px;
    margin-top: 136px;
    width: 940px;
    gap: 51px;
}

.advantages-item {
    width: 280px;
}

.advantages-item__img {
    position: absolute;
    top: 32px;
    margin-left: 42px;
}

.advantages-item__img_dist {
    margin-left: 34px;
}

.advantages-item__img-background {
    position: absolute;
    margin-top: -82px;
    margin-left: 73px;
    border: 0px solid #F2F5F4;
    border-radius: 50%;
    width: 130px;
    padding: 0px;
    height: 130px;
    background-color: #F2F5F4;
}

/*Вот здесь меняла топ, когда свайпер делала*/
.board-karusel {
    position: relative;
    top: 10px;
}

.visually-hidden {
    display: none;
}

.board-karusel__header {

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 50px;
}

.board-karusel__about, .board-karusel__sizes__header-width, .board-karusel__sizes__header-height {

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 25px;


}

.board-karusel__sizes__width, .board-karusel__sizes__height {

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}

.board-karusel__price {
    font-family: Alegreya Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 20px;

}

.board-karusel__desc {

    width: 374px;
    margin-top: 140px;
    margin-left: 619px;
}



.board-karusel__img {
    position: absolute;
    left: 156px;
    top: 46px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 397 379' fill='none'%3E%3Cpath d='M260.495 23.9363C239.952 -9.62469 178.646 -0.701744 150.56 7.95485C61.4442 40.764 -25.4685 141.288 6.92245 276.642C18.1567 323.588 62.2911 315.597 108.03 315.597C153.77 315.597 133.607 335.038 197 368C260.393 400.962 296.483 343.98 335 327C373.517 310.02 398.407 256.931 396 198C393.593 139.069 357.9 108.979 325 91C292.1 73.0209 286.173 65.8875 260.495 23.9363Z' fill='%23ECECEC'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.board-karusel__sizes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 293px;
}

.board-karusel__btn {
    margin-left: 217px;
    top: -36px;
}

.team__member__work {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: black;
    margin-top: 10px;
}

.team__member__desc {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: #666666;
    margin-top: 7px;
}

.team {
    margin-top: 115px;
    margin-left: 82px;
    height: 530px;

}

.team__members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 940px;
    gap: 20px;
}

.team__header {

    margin-bottom: 54px;
    margin-left: -89px;
}

.team__member {
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

.team__member__img {
    margin-bottom: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.reviews__header {

    margin-top: 58px;


}

.review__header {
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 14px;

}

.review__text {

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    width: 463px;
    margin-bottom: 25px;
    color: #666666;

}

.review__author {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.reviews__img {
    position: relative;
    top: 240px;
    left: -292px;
}

.review {
    margin-left: 415px;
    margin-top: -167px;

}


.our-video__header {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 110px;
    text-transform: uppercase;
}

.our-video__video {
    margin-left: 335px;
    margin-top: 27px;
}

.order {
    margin-top: 190px;
    background-image: url(../img/bgOrder1.jpg);

    width: 1100px;
    height: 652px;

}

.order__header {
    color: white;
    position: relative;
    top: 63px;
}



.order__name {
    position: relative;
    top: 146px;
    padding: 15px;
    margin-left: 83px;
    padding-left: 20px;
    width: 186px;
    height: 26px;
}

.order__tel {
    position: relative;
    top: 146px;
    padding: 15px;

    padding-left: 20px;
    width: 186px;
    height: 26px;
    margin-left: 10px;
}

.order__street {
    position: relative;
    top: 240px;
    padding: 15px;
    padding-left: 20px;
    margin-left: -466px;
    width: 426px;
    height: 26px;

}

.order__house {
    position: relative;
    top: 335px;
    padding: 15px;
    padding-left: 20px;
    margin-left: -467px;
    width: 66px;
    height: 25px;
}


.order__corpus {
    position: relative;
    top: 335px;
    padding: 15px;
    padding-left: 20px;
    margin-left: 9px;
    width: 69px;
    height: 25px;
}

.order__flat {
    position: relative;
    top: 335px;
    padding: 15px;
    padding-left: 20px;
    margin-left: 10px;
    width: 65px;
    height: 25px;
}

.order__floor {
    position: relative;
    top: 335px;
    padding: 15px;
    padding-left: 20px;
    margin-left: 13px;
    width: 66px;
    height: 25px;
}

.order__comment {
    position: relative;
    top: 87px;
    padding: 15px;
    padding-left: 20px;
    margin-left: 571px;
    width: 413px;
    height: 118px;
}

.order__payment {
    position: relative;
    top: 127px;
    color: white;
    left: 570px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}

.order__card {
    position: relative;
    top: 250px;
    color: white;
    left: 730px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.order__dontCall {
    position: relative;
    top: 149px;
    color: white;
    left: 570px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.order__btn {
    position: relative;
    top: 196px;
    left: 562px;
    border-width: 0px;
    font-weight: 700;

}

.order__clean {
    position: relative;
    top: 196px;
    left: 590px;
    background-color: transparent;
    color: white;
}


.footer {
    font-family: Alegreya Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    margin-left: 81px;
    margin-top: 11px;

}

.footer__contact__tel {
    margin-top: -22px;
    margin-left: 22px;
}

.footer__address {
    margin-bottom: 3px;
}

.social-items {
    display: grid;
    width: 90px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 14px;
    margin-left: 819px;
    margin-top: -32px;
}

.menu-slider {
    margin-top: 60px;
}

.main-nav__treug {
    position: relative;
    width: 20px;
}

.main-nav__treug::after {
    content: "";
    position: absolute;
    display: inline-block;
    border: 4px solid;
    border-top-width: 7px;
    border-color: transparent;
    border-top-color: black;
    /*top: 50%;
    right: -15%;*/
    top: 50%;
    left: 10%;
    transform: translate(-50%, -10%);
}

.main-nav__treug-reverse {
    position: relative;

    width: 20px;

}

.main-nav__treug-reverse::after {
    content: "";
    position: absolute;
    display: inline-block;
    border: 4px solid;
    border-bottom-width: 7px;
    border-color: transparent;
    border-bottom-color: black;
    /*top: 50%;
    right: -15%;*/
    top: 40%;
    left: 10%;
    transform: translate(-50%, -10%);
}

#desc1, #desc2, #clickReverse, #clickReverse2, #desc3, #clickReverse3, #desc4, #clickReverse4 {
    display: none;
}

.team__member__name {
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 3px;
}

.navigation__hamburger {
    display: none;
}

/*     Версия для планшета      */
@media screen and (max-width: 768px) {
    .headerN {
        background-color: blue;

        height: 93px;

    }

    body {
        width: 768px;
    }

    .logo {
        position: relative;
        display: inline-block;
        margin-top: 17px;
        margin-left: -10px;
        top: 0;
        left: 0;
    }



    .menu-burger__header {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 20px;

        z-index: 3;
        left: 87%
    }

    .menu-burger__header:after, .menu-burger__header:before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;

        transition: all 0.3s ease 0s;
    }

    .menu-burger__header span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;

        transition: all 0.3s ease 0s;


    }

    .menu-burger__header:after {
        bottom: 0px;
    }

    .menu-burger__header:before {
        top: 0px;
    }

    .navigation__item {
        text-align: center;
    }

    .menu-burger__header.open-menu span {
        transform: scale(0);
    }

    .menu-burger__header.open-menu:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .menu-burger__header.open-menu:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }



    .header__nav {
        display: block;
        position: absolute;


        background: #333537;
        box-shadow: #ccc;
        width: 100%;

        top: -100%;
        transition: all 0.4s ease;
    }

    .header__menu {
        display: block;
        margin-left: 0;
        height: 953px;
    }

    .header__menu li {
        margin: 40px 0px 40px 33px;

        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: 0px;
        text-align: center;

    }

    .header__nav.open-menu {
        top: 0;
        z-index: 1;
    }


    .contact {
        display: none;
    }

    .main__background {

        background: url("../img/bg768.jpg");
        width: 768px;
        height: 1080px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .main__header {
        text-align: center;
        width: 690px;
        margin-top: 365px;
        margin-left: 45px;

    }

    .main__desc {
        text-align: center;
        margin-left: 28px;
        margin-top: 8px;
    }

    .main__btn {
        left: 308px;
    }

    .features {
        display: none;
    }

    .advantages {
        top: 1269px;
        width: 768px;
    }

    .advantages__desc {
        margin-left: 176px;
    }

    .advantages-item {
        width: 249px;
    }

    .advantages__list {

        margin-left: 5px;
        width: 768px;
        gap: 5px;
        margin-bottom: 400px;
    }

    .advantages-item__img-background {
        margin-left: 64px;
    }

    .advantages-item__desc {
        margin-top: 8px;
    }

    .board-karusel.swiper {
        width: 768px;
        margin-left: 0px;
        height: 1067px;
    }

    .board-karusel.swiper-wrapper {
        height: 850px;
    }

    .board-karusel__img {
        width: 308px;
        left: 31%;
        top: 300px;
    }

    .board-karusel__header {
        text-align: center;
        margin-left: 86px;
        font-size: 30px;
    }

    .board-karusel__desc {
        margin-left: 20%;
        margin-top: 716px;
    }

    .board-karusel__about {
        width: 528px;
        text-align: center;
        margin-left: -30px;
        margin-top: 10px;
    }

    .board-karusel__sizes {
        margin-left: 104px;
    }

    .board-karusel__btn {
        margin-left: 237px;
    }

    .board-karusel__price {
        margin-left: 52px;
    }

    .board-karusel__setting {
        display: none;
    }

    .team {
        width: 768px;
        margin-left: 0px;
        margin-bottom: 195px;
        margin-top: 271px;
        height:500px;
    }

    .team__header {
        margin-left: 0px;
    }

    .team__members {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 768px;
        height: 200px;

    }

    .team__member__name {
        width: 220px;
        margin: 0px auto;
    }

    .team__member__img {
        display: none;
    }

    .menu-slider__img {
        margin-bottom: 182px;
        width: 768px;
    }

    .review {
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin-left: 0px;
        margin-top: 90px;
    }

    .reviews__img {
        left: 0px;
        margin: 0 auto;
        width: 130px;
        height: 130px;
        top: 0px;
    }

    .review__text {
        text-align: center;
        padding-left: 45px;
        width: 677px;
        margin-top: -53px;
    }

    .swiper-pagination {
        padding-top: 100px;
    }

    .review__header {
        text-align: center;
        padding-top: 30px;
    }

    .review__author {
        text-align: center;
    }

    .reviews.swiper {
        width: 768px;
        margin-left: 0px;
        height: 790px;
    }

    .our-video__video {
        margin-left: 196px;
    }

    .order {
        margin-top: 100px;
        background-image: url(../img/bgOrder1-768.jpg);
        width: 768px;
        height: 966px;
    }

    .order__header {
        top: 175px;
    }

    .order__name {
        height: 3px;
        top: 215px;
        margin-left: 140px;
    }

    .order__tel {

        top: 215px;
        height: 3px;
        margin-left: 10px;
    }

    .order__street {
        top: 275px;
        margin-left: -466px;
        height: 3px;

    }

    .order__house {
        top: 335px;
        margin-left: -467px;
        height: 3px;
    }


    .order__corpus {
        top: 335px;
        margin-left: 9px;
        height: 3px;
    }

    .order__flat {
        top: 335px;
        margin-left: 10px;
        height: 3px;
    }

    .order__floor {
        top: 335px;
        margin-left: 13px;
        height: 3px;
    }

    .order__comment {
        top: 360px;
        margin-left: 140px;
        height: 58px;
        width: 424px
    }

    .order__payment {
        top: 384px;
        left: 162px;
    }

    .order__card {
        top: 250px;
        left: 730px;
        text-align: left;
    }

    .order__dontCall {
        top: 395px;
        left: 162px;

    }

    .order__btn {
        margin-top: 225px;
        margin-left: -295px;
    }

    .map__img {
        width: 768px;
        height: 526px;
        object-fit: cover;
    }

    .our-video {
        width: 768px;
    }
}

/*ВЕРСИЯ ДЛЯ ТЕЛЕФОНА*/
@media screen and (max-width: 480px) {
    .navigation {
        background-color: blue;
        display: grid;
        grid-template-columns: 50% 50%;
        height: 91px;

    }

    body {
        width: 480px;
    }

    .logo {
        position: relative;
        display: inline-block;
        margin-top: 17px;
        margin-left: -10px;
        top: 0;
        left: 0;
    }



    .menu-burger__header {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 20px;

        z-index: 3;
        left: 87%
    }

    .header__nav {
        display: none;
    }


    .menu-burger__header:after, .menu-burger__header:before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;

        transition: all 0.3s ease 0s;
    }

    .menu-burger__header span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;


    }

    .menu-burger__header:after {
        bottom: 0px;
    }

    .menu-burger__header:before {
        top: 0px;
    }

    .menu-burger__header.open-menu span {
        transform: scale(0);
    }

    .menu-burger__header.open-menu:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .menu-burger__header.open-menu:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .navigation__item {
        text-align: center;
    }

    .header__nav {
        display: block;
        position: absolute;


        background: #333537;
        box-shadow: #ccc;
        width: 100%;

        top: -100%;
        transition: all 0.4s ease;
        
    }

    .header__menu {
        display: block;
        margin-left: 0;
        height: 760px;
        width: 480px;

    }

    .header__menu li {
        margin: 40px 0px 40px 33px;

        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: 0px;
        text-align: center;


    }

    .header__nav.open-menu {
        top: 0;
        z-index: 1;
    }


    .contact {
        display: none;
    }


    .contact {
        display: none;
    }

    .main__background {

        background: url("../img/bg480.jpg");
        width: 480px;
        height: 888px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .main__header {

        font-size: 40px;
        line-height: 36px;
        width: 473px;
        margin-top: 243px;
        margin-left: 0px;

    }

    .main__desc {
        font-size: 18px;
        line-height: 20px;
    }

    .main__btn {
        left: 162px;
    }

    .features {
        display: none;
    }

    .header {
        font-size: 40px;
        line-height: 36px;
        text-align: center;

    }

    .advantages {
        top: 853px;
        width: 480px;
        padding-bottom: 79px;

    }

    .advantages__desc {
        margin-left: 24px;
        margin-top: 9px;
    }

    .advantages-item {
        width: 480px;
        height: 128px;
        display: grid;
        grid-template-columns: 1fr 3fr;

    }

    .advantages__list {


        width: 480px;
        gap: 35px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: none;
    }

    .advantages-item__img-background {
        position: relative;
        margin-left: 4px;
        margin-top: -86px;
        margin-right: 10px;
    }

    .advantages-item__header {
        text-align: left;
        margin-top: -75px;
    }



    .advantages-item__desc {
        text-align: left;

    }

    .board-karusel.swiper {
        width: 480px;

        height: 1105px;
    }

    .board-karusel.swiper-wrapper {
        height: 850px;
    }

    .board-karusel__img {
        width: 243px;
        left: 125px;
        top: 374px;
    }

    .board-karusel__header {

        margin-left: 0px;
        padding-top: 10px;

    }

    .board-karusel__desc {
        margin-left: 0px;
        margin-top: 716px;
        width: 480px;
    }

    .board-karusel__about {
        width: 380px;
        text-align: center;
        margin: 10px auto;
    }

    .board-karusel__sizes {
        margin-left: 115px;
        margin-top: -13px;
    }

    .board-karusel__btn {
        margin-left: 255px;
    }

    .board-karusel__price {
        margin-left: 72px;
    }

    .team {
        width: 480px;
        margin-top: 172px;

    }

    .team__members {
        width: 480px;
    }

    .team__header {
        margin-bottom: 36px;
    }

    .team__member__img {
        width: 138px;
    }

    .review {
        width: 480px;
    }

    .reviews.swiper {
        width: 480px;
    }

    .reviews__header {
        margin-top: 4px;
    }

    .review__text {
        width: 480px;
        padding-left: 0px;
    }

    .swiper-pagination {
        padding-top: 0px;
    }

    .reviews__pagination.swiper-pagination {
        bottom: 147px;
    }

    .swiper_pagination_img {
        width: 64px;
    }

    .our-video {
        width: 480px;
    }

    .our-video__header {

        margin-top: 37px;

    }

    .our-video__video {
        margin-left: 28px;
    }

    .order {
        width: 480px;
        background-image: url(../img/bgOrder480.jpg);
        margin-top: 33px;
        height: 766px;

    }

    .order__header {
        top: 85px;
    }

    .order__name {
        top: 150px;
        margin-left: 11px;
    }

    .order__tel {
        top: 150px;
    }

    .order__street {
        top: 224px;
    }

    .order__house {
        top: 299px;

    }


    .order__corpus {
        top: 299px;

    }

    .order__flat {
        top: 299px;

    }

    .order__floor {
        top: 299px;

    }

    .order__comment {
        top: 328px;
        margin-left: 8px;

    }

    .order__payment {
        top: 354px;
        left: 88px;
    }

    .order__dontCall {
        top: 380px;
    }

    .order__btn {
        margin-top: 221px;
        margin-left: -446px;
    }

    .map__img {
        display: none;
    }

    .map {
        background-image: url(../img/map480.jpg);
        height: 482px;
    }

    .footer {
        width: 480px;
        margin: 15px auto;
        text-align: center;
        height: 151px;

    }

    .footer__address {
        margin-bottom: 10px;
    }

    .footer__contact__img {
        margin-left: -135px;
    }

    .social-items {
        margin: 17px auto;
    }

    .menu-slider__img {
        width: 480px;
    }

}